*.uasset
BattleTank/Saved/Crashes/UE4CC-Windows-106F00734DDC03815AC793A13EA16F45_0000/UE4Minidump.dmp
BattleTank/Saved/Crashes/UE4CC-Windows-106F00734DDC03815AC793A13EA16F45_0000/CrashReportClient.ini
BattleTank/Saved/Crashes/UE4CC-Windows-106F00734DDC03815AC793A13EA16F45_0000/CrashContext.runtime-xml
BattleTank/Saved/Config/CrashReportClient/UE4CC-Windows-106F00734DDC03815AC793A13EA16F45/CrashReportClient.ini
BattleTank/Saved/Config/CrashReportClient/UE4CC-Windows-0E4A349C4111D0590D3359997C126AD1/CrashReportClient.ini
BattleTank/Saved/Config/CrashReportClient/UE4CC-Windows-0A65DC6645660CCD48B4BB8922572A24/CrashReportClient.ini
